* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  display: block;
}

.toolsBar{
  position: absolute;
  left: 20px;
  top: 20px;
  .color{
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    background: #ffe6b3;
    li{
      list-style: none;
      height: 40px;
      width: 40px;
      margin-top: 8px;
      border: 3px solid black;
      border-radius: 50%;
      &.red{
        background: red;
      }
      &.yellow{
        background: yellow;
      }
      &.blue{
        background: blue;
      }
      &.green{
        background: green;
      }
      &.black{
        background: black;
      }
    }
  }

}